<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kennesawstate.cs4850.tallulah.infrastructure.Mapper">
    <select id="getSample" resultType="kennesawstate.cs4850.tallulah.domain.Sample">
        SELECT ID, NAME FROM SAMPLE WHERE ID = 999
    </select>
    <select id="findAllUserId" resultType="int">
        SELECT USER_ID FROM USERS
    </select>
    <insert id="createUser" parameterType="map">
        INSERT INTO USERS (USER_ID, USER_NAME, EMAIL, USER_TYPE) VALUES(USER_SEQUENCE.NEXTVAL, #{name}, #{email},
        #{userType})
    </insert>
    <select id="findCurrentUserId" resultType="int">
        SELECT USER_SEQUENCE.CURRVAL FROM DUAL
    </select>
    <select id="findUserBy" parameterType="int" resultMap="userResultMap">
        SELECT USER_ID, USER_NAME, EMAIL, LOGIN_DETAIL, USER_TYPE FROM USERS WHERE USER_ID = #{userId}
    </select>
    <insert id="createGroupId">
        INSERT INTO GROUPS (GROUP_ID, USER_ID, DEVICE_ID, CHANNEL_ID, MESSAGE_ID) VALUES(GROUP_SEQUENCE.NEXTVAL, 0, 0,
        0, 0)
    </insert>
    <delete id="deleteUserBy" parameterType="int">
        DELETE FROM USERS WHERE USER_ID = #{userId}
    </delete>
    <select id="findCurrentGroupId" resultType="int">
        SELECT GROUP_SEQUENCE.CURRVAL FROM DUAL
    </select>
    <select id="findLatestGroupId" resultType="int">
        SELECT MAX(GROUP_ID) FROM GROUPS
    </select>
    <select id="findAllGroupId" resultType="int">
        SELECT DISTINCT GROUP_ID FROM GROUPS
    </select>
    <delete id="deleteGroupBy" parameterType="int">
        DELETE FROM GROUPS WHERE GROUP_ID = #{groupId}
    </delete>
    <select id="findGroupBy" parameterType="int" resultMap="groupResultMap">
        SELECT GROUP_ID, USER_ID, DEVICE_ID, CHANNEL_ID, MESSAGE_ID FROM GROUPS WHERE GROUP_ID = #{groupId}
    </select>
    <select id="findUserByGroupId" parameterType="int" resultMap="userResultMap">
        SELECT
        GROUPS.USER_ID,
        USERS.USER_NAME,
        USERS.EMAIL,
        USERS.LOGIN_DETAIL,
        USERS.USER_TYPE
        FROM USERS
        INNER JOIN GROUPS
        ON USERS.USER_ID = GROUPS.USER_ID
        WHERE GROUPS.GROUP_ID = #{groupId}
    </select>
    <delete id="removeUserFromGroup" parameterType="map">
        DELETE FROM GROUPS WHERE GROUP_ID = #{groupId} AND USER_ID = #{userId}
    </delete>
    <update id="updateLoginDetail" parameterType="map">
        UPDATE USERS
        SET LOGIN_DETAIL = #{loginDetail}
        WHERE USER_ID = #{userId}
    </update>
    <insert id="addUserToGroup" parameterType="map">
        INSERT INTO GROUPS VALUES (#{groupId}, #{userId}, 0, 0, 0)
    </insert>
    <select id="findUserInGroupBy" parameterType="map" resultMap="groupUserResultMap">
        SELECT
        GROUPS.GROUP_ID,
        GROUPS.USER_ID,
        USERS.USER_NAME,
        USERS.EMAIL,
        USERS.LOGIN_DETAIL,
        USERS.USER_TYPE
        FROM USERS
        INNER JOIN GROUPS
        ON USERS.USER_ID = GROUPS.USER_ID
        WHERE GROUPS.GROUP_ID = #{groupId}
        AND GROUPS.USER_ID = #{userId}
    </select>
    <insert id="createDevice" parameterType="map">
        INSERT INTO DEVICES (DEVICE_ID, USER_ID, USER_NAME)
        SELECT DEVICE_SEQUENCE.NEXTVAL, USER_ID,
        USER_NAME
        FROM USERS
        WHERE USER_ID = #{userId}
    </insert>
    <insert id="addDeviceToGroup" parameterType="map">
        INSERT INTO GROUPS (GROUP_ID, USER_ID, DEVICE_ID)
        SELECT #{groupId}, #{userId}, MAX(DEVICE_ID)
        FROM DEVICES
    </insert>
    <resultMap id="userResultMap" type="kennesawstate.cs4850.tallulah.domain.User">
        <id property="userId" column="USER_ID"/>
        <result property="userName" column="USER_NAME"/>
        <result property="email" column="EMAIL"/>
        <result property="loginDetail" column="LOGIN_DETAIL"/>
        <result property="userType" column="USER_TYPE"/>
    </resultMap>

    <resultMap id="groupUserResultMap" type="kennesawstate.cs4850.tallulah.domain.Group">
        <id property="groupId" column="GROUP_ID"/>
        <collection property="users" ofType="kennesawstate.cs4850.tallulah.domain.User">
            <id property="userId" column="USER_ID"/>
            <result property="userName" column="USER_NAME"/>
            <result property="email" column="EMAIL"/>
            <result property="loginDetail" column="LOGIN_DETAIL"/>
            <result property="userType" column="USER_TYPE"/>
        </collection>
    </resultMap>

    <resultMap id="groupResultMap" type="kennesawstate.cs4850.tallulah.domain.Group">
        <id property="groupId" column="GROUP_ID"/>
        <collection property="users" ofType="kennesawstate.cs4850.tallulah.domain.User">
            <id property="userId" column="USER_ID"/>
            <result property="userName" column="USER_NAME"/>
            <result property="email" column="EMAIL"/>
            <result property="loginDetail" column="LOGIN_DETAIL"/>
            <result property="userType" column="USER_TYPE"/>
        </collection>
        <collection property="devices" ofType="kennesawstate.cs4850.tallulah.domain.Device">
            <id property="deviceId" column="DEVICE_ID"/>
            <result property="ownerId" column="USER_ID"/>
            <result property="ownerName" column="USER_NAME"/>
        </collection>
        <collection property="channels" ofType="kennesawstate.cs4850.tallulah.domain.Channel">
            <id property="channelId" column="CHANNEL_ID"/>
            <result property="channelName" column="CHANNEL_NAME"/>
            <result property="title" column="TITLE"/>
            <result property="text" column="TEXT"/>
            <result property="refreshTime" column="REFRESH_TIME"/>
            <result property="channelType" column="CHANNEL_TYPE"/>
        </collection>
        <collection property="messages" ofType="kennesawstate.cs4850.tallulah.domain.Message">
            <id property="messageId" column="MESSAGE_ID"/>
            <result property="text" column="TEXT"/>
            <result property="priorityNumber" column="PRIORITY"/>
        </collection>
    </resultMap>
</mapper>