<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kennesawstate.cs4850.tallulah.infrastructure.Mapper">
    <select id="getSample" resultType="kennesawstate.cs4850.tallulah.domain.Sample">
        SELECT ID, NAME FROM SAMPLE WHERE ID = 999
    </select>
    <select id="findAllUserId" resultType="int">
        SELECT USER_ID FROM USERS
    </select>
    <insert id="createUser" parameterType="map">
        INSERT INTO USERS (USER_ID, USER_NAME, EMAIL, USER_TYPE) VALUES(USER_SEQUENCE.NEXTVAL, #{name}, #{email},
        #{userType})
    </insert>
    <select id="findCurrentUserId" resultType="int">
        SELECT USER_SEQUENCE.CURRVAL FROM DUAL
    </select>
    <select id="findUserBy" parameterType="int" resultMap="userResultMap">
        SELECT USER_ID, USER_NAME, EMAIL, LOGIN_DETAIL, USER_TYPE FROM USERS WHERE USER_ID = #{userId}
    </select>
    <insert id="createGroupId">
        INSERT INTO GROUPS (GROUP_ID, USER_ID, DEVICE_ID, CHANNEL_ID, MESSAGE_ID) VALUES(GROUP_SEQUENCE.NEXTVAL, 0, 0,
        0, 0)
    </insert>
    <delete id="deleteUserBy" parameterType="int">
        DELETE FROM USERS WHERE USER_ID = #{userId}
    </delete>
    <delete id="deleteUserFromGroup" parameterType="int">
        DELETE FROM GROUPS WHERE USER_ID = #{userId}
    </delete>
    <update id="removeUserFromDevice" parameterType="int">
        UPDATE DEVICES
        SET USER_ID = 0
        WHERE USER_ID = #{userId}
    </update>
    <select id="findCurrentGroupId" resultType="int">
        SELECT GROUP_SEQUENCE.CURRVAL FROM DUAL
    </select>
    <select id="findAllGroupId" resultType="int">
        SELECT DISTINCT GROUP_ID FROM GROUPS
    </select>
    <delete id="deleteGroupBy" parameterType="int">
        DELETE FROM GROUPS WHERE GROUP_ID = #{groupId}
    </delete>
    <select id="findGroupBy" parameterType="int" resultMap="groupResultMap">
        SELECT GROUP_ID, USER_ID, DEVICE_ID, CHANNEL_ID, MESSAGE_ID FROM GROUPS WHERE GROUP_ID = #{groupId}
    </select>
    <select id="findUserByGroupId" parameterType="int" resultMap="userResultMap">
        SELECT
        DISTINCT
        GROUPS.USER_ID,
        USERS.USER_NAME,
        USERS.EMAIL,
        USERS.LOGIN_DETAIL,
        USERS.USER_TYPE
        FROM USERS
        INNER JOIN GROUPS
        ON USERS.USER_ID = GROUPS.USER_ID
        WHERE GROUPS.GROUP_ID = #{groupId}
    </select>
    <delete id="removeUserFromGroup" parameterType="map">
        DELETE FROM GROUPS WHERE GROUP_ID = #{groupId} AND USER_ID = #{userId}
    </delete>
    <update id="updateLoginDetail" parameterType="map">
        UPDATE USERS
        SET LOGIN_DETAIL = #{loginDetail}
        WHERE USER_ID = #{userId}
    </update>
    <insert id="addUserToGroup" parameterType="map">
        INSERT INTO GROUPS VALUES (#{groupId}, #{userId}, 0, 0, 0)
    </insert>
    <select id="findUserInGroupBy" parameterType="map" resultMap="groupUserResultMap">
        SELECT
        GROUPS.GROUP_ID,
        GROUPS.USER_ID,
        USERS.USER_NAME,
        USERS.EMAIL,
        USERS.LOGIN_DETAIL,
        USERS.USER_TYPE
        FROM USERS
        INNER JOIN GROUPS
        ON USERS.USER_ID = GROUPS.USER_ID
        WHERE GROUPS.GROUP_ID = #{groupId}
        AND GROUPS.USER_ID = #{userId}
    </select>
    <insert id="createDevice" parameterType="int">
        INSERT INTO DEVICES (DEVICE_ID, USER_ID, USER_NAME)
        SELECT DEVICE_SEQUENCE.NEXTVAL, USER_ID,
        USER_NAME
        FROM USERS
        WHERE USER_ID = #{userId}
    </insert>
    <insert id="addDeviceToGroup" parameterType="map">
        INSERT INTO GROUPS (GROUP_ID, USER_ID, DEVICE_ID, CHANNEL_ID, MESSAGE_ID)
        VALUES (#{groupId}, 0, DEVICE_SEQUENCE.CURRVAL, 0, 0)
    </insert>
    <select id="findLatestDeviceId" resultType="int">
        SELECT DEVICE_SEQUENCE.CURRVAL FROM DUAL
    </select>
    <select id="findDeviceInGroup" parameterType="int" resultMap="groupDeviceResultMap">
        SELECT
        GROUPS.GROUP_ID,
        GROUPS.DEVICE_ID,
        DEVICES.USER_ID,
        DEVICES.USER_NAME
        FROM DEVICES
        INNER JOIN GROUPS
        ON DEVICES.DEVICE_ID = GROUPS.DEVICE_ID
        WHERE GROUPS.GROUP_ID = #{groupId}
    </select>
    <delete id="deleteDevice" parameterType="int">
        DELETE FROM DEVICES WHERE DEVICE_ID = #{deviceId}
    </delete>
    <delete id="deleteDeviceInGroup" parameterType="int">
        DELETE FROM GROUPS WHERE GROUP_ID = #{groupId} AND DEVICE_ID = #{deviceId}
    </delete>
    <select id="findDeviceInGroupBy" parameterType="map" resultMap="groupDeviceResultMap">
        SELECT
        GROUPS.GROUP_ID,
        GROUPS.DEVICE_ID,
        DEVICES.USER_ID,
        DEVICES.USER_NAME
        FROM DEVICES
        INNER JOIN GROUPS
        ON DEVICES.DEVICE_ID = GROUPS.DEVICE_ID
        WHERE GROUPS.GROUP_ID = #{groupId}
        AND GROUPS.DEVICE_ID = #{deviceId}
    </select>
    <insert id="createChannel" parameterType="kennesawstate.cs4850.tallulah.domain.Channel">
        INSERT INTO CHANNELS (CHANNEL_ID, CHANNEL_NAME, TITLE, TEXT, REFRESH_TIME, CHANNEL_TYPE)
        VALUES (CHANNEL_SEQUENCE.NEXTVAL, #{channelName}, #{title}, #{text}, #{refreshTime}, #{channelType})
    </insert>
    <insert id="addChannelToGroup" parameterType="map">
        INSERT INTO GROUPS (GROUP_ID, USER_ID, DEVICE_ID, CHANNEL_ID, MESSAGE_ID)
        VALUES (#{groupId},0,0, CHANNEL_SEQUENCE.CURRVAL, 0)
    </insert>
    <select id="findLatestChannelId" resultType="int">
        SELECT CHANNEL_SEQUENCE.CURRVAL FROM DUAL
    </select>
    <select id="findChannelInGroup" parameterType="int" resultMap="groupChannelResultMap">
        SELECT
        GROUPS.GROUP_ID,
        GROUPS.CHANNEL_ID,
        CHANNELS.CHANNEL_NAME,
        CHANNELS.TITLE,
        CHANNELS.TEXT,
        CHANNELS.REFRESH_TIME,
        CHANNELS.CHANNEL_TYPE
        FROM CHANNELS
        INNER JOIN GROUPS
        ON CHANNELS.CHANNEL_ID = GROUPS.CHANNEL_ID
        WHERE GROUPS.GROUP_ID = #{groupId}
    </select>
    <delete id="deleteChannel" parameterType="int">
        DELETE FROM CHANNELS WHERE CHANNEL_ID = #{channelId}
    </delete>
    <delete id="deleteChannelInGroup" parameterType="map">
        DELETE FROM GROUPS WHERE GROUP_ID = #{groupId} AND CHANNEL_ID = #{channelId}
    </delete>
    <update id="updateChannel" parameterType="map">
        UPDATE CHANNELS
        SET
        channel_name = #{channel.channelName},
        TITLE = #{channel.title},
        TEXT = #{channel.text},
        REFRESH_TIME = #{channel.refreshTime},
        CHANNEL_TYPE = #{channel.channelType}
        WHERE CHANNEL_ID = #{channelId}
    </update>
    <select id="findChannelInGroupBy" parameterType="map" resultMap="groupChannelResultMap">
        SELECT
        GROUPS.GROUP_ID,
        GROUPS.CHANNEL_ID,
        CHANNELS.CHANNEL_NAME,
        CHANNELS.TITLE,
        CHANNELS.TEXT,
        CHANNELS.REFRESH_TIME,
        CHANNELS.CHANNEL_TYPE
        FROM CHANNELS
        INNER JOIN GROUPS
        ON CHANNELS.CHANNEL_ID = GROUPS.CHANNEL_ID
        WHERE GROUPS.GROUP_ID = #{groupId}
        AND GROUPS.CHANNEL_ID = #{channelId}
    </select>
    <insert id="createMessage" parameterType="kennesawstate.cs4850.tallulah.domain.Message">
        INSERT INTO MESSAGES (MESSAGE_ID, TEXT, PRIORITY)
        VALUES (MESSAGE_SEQUENCE.NEXTVAL, #{text}, #{priority})
    </insert>
    <insert id="addMessageToGroup" parameterType="int">
        INSERT INTO GROUPS (GROUP_ID, USER_ID, DEVICE_ID, CHANNEL_ID, MESSAGE_ID)
        VALUES (#{groupId}, 0, #{deviceId}, 0, MESSAGE_SEQUENCE.CURRVAL)
    </insert>
    <select id="findLatestMessageId" resultType="int">
        SELECT MESSAGE_SEQUENCE.CURRVAL FROM DUAL
    </select>
    <select id="findMessageInGroup" parameterType="int" resultMap="groupMessageResultMap">
        SELECT
        GROUPS.GROUP_ID,
        GROUPS.DEVICE_ID,
        DEVICES.USER_ID,
        DEVICES.USER_NAME,
        GROUPS.MESSAGE_ID,
        MESSAGES.TEXT,
        MESSAGES.PRIORITY
        FROM DEVICES
        INNER JOIN GROUPS
        ON DEVICES.DEVICE_ID = GROUPS.DEVICE_ID
        INNER JOIN MESSAGES
        ON MESSAGES.MESSAGE_ID = GROUPS.MESSAGE_ID
        WHERE GROUPS.GROUP_ID = #{groupId}
        AND GROUPS.DEVICE_ID = #{deviceId}
    </select>
    <delete id="deleteMessage" parameterType="int">
        DELETE FROM MESSAGES CHANNELS WHERE MESSAGE_ID = #{messageId}
    </delete>
    <delete id="deleteMessageInGroup" parameterType="map">
        DELETE FROM GROUPS WHERE GROUP_ID = #{groupId}
        AND MESSAGE_ID = #{messageId}
    </delete>
    <update id="updateMessage" parameterType="map">
        UPDATE MESSAGES
        SET
        TEXT = #{message.text},
        PRIORITY = #{message.priority}
        WHERE MESSAGE_ID = #{messageId}
    </update>
    <select id="findMessageInGroupBy" parameterType="map" resultMap="groupMessageResultMap">
        SELECT
        GROUPS.GROUP_ID,
        GROUPS.DEVICE_ID,
        DEVICES.USER_ID,
        DEVICES.USER_NAME,
        GROUPS.MESSAGE_ID,
        MESSAGES.TEXT,
        MESSAGES.PRIORITY
        FROM DEVICES
        INNER JOIN GROUPS
        ON DEVICES.DEVICE_ID = GROUPS.DEVICE_ID
        INNER JOIN MESSAGES
        ON MESSAGES.MESSAGE_ID = GROUPS.MESSAGE_ID
        WHERE GROUPS.GROUP_ID = #{groupId}
        AND GROUPS.DEVICE_ID = #{deviceId}
        AND MESSAGES.MESSAGE_ID = #{messageId}
    </select>


    <resultMap id="groupMessageResultMap" type="kennesawstate.cs4850.tallulah.domain.Group">
        <id property="groupId" column="GROUP_ID"/>
        <collection property="devices" ofType="kennesawstate.cs4850.tallulah.domain.Device">
            <id property="deviceId" column="DEVICE_ID"/>
            <result property="ownerId" column="USER_ID"/>
            <result property="ownerName" column="USER_NAME"/>
        </collection>
        <collection property="messages" ofType="kennesawstate.cs4850.tallulah.domain.Message">
            <id property="messageId" column="MESSAGE_ID"/>
            <result property="text" column="TEXT"/>
            <result property="priority" column="PRIORITY"/>
        </collection>
    </resultMap>

    <resultMap id="groupChannelResultMap" type="kennesawstate.cs4850.tallulah.domain.Group">
        <id property="groupId" column="GROUP_ID"/>
        <collection property="channels" ofType="kennesawstate.cs4850.tallulah.domain.Channel">
            <id property="channelId" column="CHANNEL_ID"/>
            <result property="channelName" column="CHANNEL_NAME"/>
            <result property="title" column="TITLE"/>
            <result property="text" column="TEXT"/>
            <result property="refreshTime" column="REFRESH_TIME"/>
            <result property="channelType" column="CHANNEL_TYPE"/>
        </collection>
    </resultMap>
    <resultMap id="userResultMap" type="kennesawstate.cs4850.tallulah.domain.User">
        <id property="userId" column="USER_ID"/>
        <result property="userName" column="USER_NAME"/>
        <result property="email" column="EMAIL"/>
        <result property="loginDetail" column="LOGIN_DETAIL"/>
        <result property="userType" column="USER_TYPE"/>
    </resultMap>

    <resultMap id="groupUserResultMap" type="kennesawstate.cs4850.tallulah.domain.Group">
        <id property="groupId" column="GROUP_ID"/>
        <collection property="users" ofType="kennesawstate.cs4850.tallulah.domain.User">
            <id property="userId" column="USER_ID"/>
            <result property="userName" column="USER_NAME"/>
            <result property="email" column="EMAIL"/>
            <result property="loginDetail" column="LOGIN_DETAIL"/>
            <result property="userType" column="USER_TYPE"/>
        </collection>
    </resultMap>

    <resultMap id="groupDeviceResultMap" type="kennesawstate.cs4850.tallulah.domain.Group">
        <id property="groupId" column="GROUP_ID"/>
        <collection property="devices" ofType="kennesawstate.cs4850.tallulah.domain.Device">
            <id property="deviceId" column="DEVICE_ID"/>
            <result property="ownerId" column="USER_ID"/>
            <result property="ownerName" column="USER_NAME"/>
        </collection>
    </resultMap>

    <resultMap id="groupResultMap" type="kennesawstate.cs4850.tallulah.domain.Group">
        <id property="groupId" column="GROUP_ID"/>
        <collection property="users" ofType="kennesawstate.cs4850.tallulah.domain.User">
            <id property="userId" column="USER_ID"/>
            <result property="userName" column="USER_NAME"/>
            <result property="email" column="EMAIL"/>
            <result property="loginDetail" column="LOGIN_DETAIL"/>
            <result property="userType" column="USER_TYPE"/>
        </collection>
        <collection property="devices" ofType="kennesawstate.cs4850.tallulah.domain.Device">
            <id property="deviceId" column="DEVICE_ID"/>
            <result property="ownerId" column="USER_ID"/>
            <result property="ownerName" column="USER_NAME"/>
        </collection>
        <collection property="channels" ofType="kennesawstate.cs4850.tallulah.domain.Channel">
            <id property="channelId" column="CHANNEL_ID"/>
            <result property="channelName" column="CHANNEL_NAME"/>
            <result property="title" column="TITLE"/>
            <result property="text" column="TEXT"/>
            <result property="refreshTime" column="REFRESH_TIME"/>
            <result property="channelType" column="CHANNEL_TYPE"/>
        </collection>
        <collection property="messages" ofType="kennesawstate.cs4850.tallulah.domain.Message">
            <id property="messageId" column="MESSAGE_ID"/>
            <result property="text" column="TEXT"/>
            <result property="priority" column="PRIORITY"/>
        </collection>
    </resultMap>
</mapper>